/* core */
*{
    box-sizing: border-box;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}
.clearfix, 
.clearfix::after{
      display: block;
      content: "";
      clear: both;
  }

/* core bootstrap */
.container{
    text-align: center;
}
.navbar-default {
    background-color: #f1b980;
    border: none;
   
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #fffefd;
  }
  .navbar-default .navbar-text {
    color: #222;
  }
  .navbar-default .navbar-nav > li > a {
    color: #222;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fffefd;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #222;
    background-color: #ff8000;
   
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #fffefd;
    background-color: #ff8000;

  }
  .navbar-default .navbar-toggle {
    /* border-color: #ff8000; */
    border: none;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #f1b980;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e99e2f;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #f1b980;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #fffefd;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #f1b980;
      background-color: #f1b980;
    }
  }

 .table-borderless{
   border-left: none;
   border-right: none;
   border-top: none;
 }

/* ======================================================= */

/* mycss */
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    overflow-x:hidden;
    margin: 0;
    text-align: center;
  
}
.parallax-bg{
  transition: initial;
}
/* hamburger */

.hamburger{
    content:'';
    display: block;
    background: #fff; 
    height: 3px;
    width: 1.4em;
    border-radius: 3px; 
    transition: all ease-in-out 200ms;
}
.hamburger::before,
.hamburger::after{
    content:'';
    display: block;
    background: #fff;
    margin-top: 5px;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
   
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(-1.6px);
}
.open .hamburger {
    
    transform: rotate(45deg);
}

.open .hamburger::before{
    opacity: 0;
}
.open .hamburger{
    width: 1.75em;  
}
.open .hamburger::after{
    transform: translateY(-8px) rotate(-90deg);

}
/*Background image*/
.bg1{
  background-image: url(../img/bg1.jpeg);
  width: 100%;  
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*TAB Styling*/
.menu{
    position: relative;
    margin:10% 12% ;

}
.nav-tabs{
    background-color:#fff; 
    margin-top: 5%;  
    }   
 .nav-tabs > li > a{ 
    color: #111; 
    border:none; 
    font-size: 1.2em;
    font-weight: 900;  
    }

 .nav-tabs > li > a:hover{
    background-color: #fff !important; 
    color:#f1b980;
    border:none;   
    }
     
.nav-tabs > li.active > a,   
.nav-tabs > li.active > a:focus,   
.nav-tabs > li.active > a:hover{   
    border:none; 
    background-color: #fff !important;
    color:#111;  
    border-bottom:0.8px #f1b980 solid;
    }
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        zoom:1; /* hasLayout ie7 trigger */
    }
    
    .nav-tabs, .nav-pills {
        text-align:center;
    }

/* typography */
h1{
  font-size: 4rem;
  font-weight: 700;
}
h4{
  font-weight: 700;
  color: #ff8000;
}
p{
  font-weight: 300;
}

/* button */

.button{
  font-size: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
  display: inline-block;
  font-weight: 900;
}
.btn-small{
  font-size: 1rem;
  font-weight: 700;
}
.button-brown{
  color: #ff8000;
  margin-top: 1.75em;

}
.button-brown:hover,
.button-brown:active{
  background-color: #ff8000;
  color: white;
  text-decoration: none;
  border: none;
}

.button-promo-mobile{
font-size: .9em;
font-weight: 700;
color: tomato;
padding: .5em .8em;
margin: .5em;
border-width: .125em;
}
.button-promo-mobile:hover,
.button-promo-mobile:active{
  background-color: tomato;
  color: white;
  text-decoration: none;
  border: none;
}

/* showcase */
.home-showcase{
  background-image: url(../img/home-showcase.jpeg);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 10em 1.5rem;;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  margin: 0;
}
.home-showcase h1{
  color: #fff;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 6rem;
  margin-top: 17%;;
}
.home-showcase small{
  color: #fff;
}
@media(min-width:60rem){
  .home-showcase h1{
    font-size: 6.5rem;
  }
}

/* home-about */
.home-about{
  background-image: url(../img/about.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

.home-about-textbox{
  background: #f2f2f2;
  opacity: 0.8;
  padding:4em;
  outline-style: solid;
  outline-offset: -1.7em;
  outline-width: 0.57em;
  margin: 1em;
  color: #111;
}
.home-about-textbox h1{
font-size: 2.2em;
margin-bottom: 1.2em;
position: absolute;
background:#f2f2f2;
left: 50%;
transform: translateX(-50%);
top: -.00001em;
padding: 0 .1em;
float: left;
}


@media(min-width:60rem){
  .home-about{
    margin: 0 10%;
    top: -4.5em;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.534);
  }
  .home-about-textbox{
   max-width: 53em;
  }
}
@media(min-width:80rem){
 
  .home-about-textbox{
   max-width: 90em;
  }
}




/* menu */
.menu{
  position:relative;
  display: block;
  background: #fff;
}
table th{
  text-align: center;
  font-weight: 700;
  font-size: 1.1em;
}
@media(min-width:60rem){
 .menu{
   margin:0 25%;
 }
}
/* promotion */
.promotion{
display: inline-block;
margin: 1em 0;
}
.promotion-item{
margin: 0;
position: relative;
}
.item-caption{
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(34, 34, 34, 0.199); 
  padding:0 1em;
}
.item-caption p{
  font-size: 1.2em;
  font-weight: 900;
  margin: 0;
  color: #fff;
}
.promotion-carousel{
  display: none;
}

@media(min-width:46rem){
  .promotion-carousel{
    display: block;
    margin: -1em 0 auto;
    background-position: center;
    background-size: cover;
  }
  .promotion-carousel h1{
    font-size: 3em;
    font-weight: 900;
  }
  .item{
    height: 50vh;
    width: 85vw;
  }

.car-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  .promotion-carousel small{
    color: white;
  }
  .carousel-caption{
    bottom: 10%;
  } 
  .promotion-mobile{
    display: none;
  }
}
@media(min-width:50rem){
  .promotion-carousel h1{
    font-size: 5em;
  }
}

/* newsletter */
.getmail{
  background: #fff;
  width: 100vw;
  margin: 5em;
}

/* footer */
footer{
  margin-top: 5em;
  background: #222;
  color: #fff;
  padding: 2em;
}
footer ul li{
list-style: none;
margin: 1.5em;
}
.social-icon{
  display: inline-block;
  font-size: 2em;
  font-weight: 900;
  margin: 0;
  padding-right: 1.5em;
}
.social-icon a{
  color: #fff;
}
.social-icon a:hover,
.social-icon a:active{
  color: #f1b980;
}




